@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: monospace;
    background: black url(math-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
body #background {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(7px)
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 8px;
    background-color: #27272d;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
}

main #visor {
    height: 130px;
    margin: 10px;
    padding: 7px 20px;
    font-size: 2.7em;
    border-radius: 10px;
    border: 2px solid #d9dee1;
    background-color: #d9dee1;
    box-shadow: 3px 3px 3px rgba(97, 97, 97, 0.315);
}
main #visor #calculo {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

main #visor #valor2, #sinal, #valor1 {
    width: fit-content;
    min-width: 7%;
    height: 100%;
    text-align: center;
    margin: 0px 2px;
    font-size: 0.5em;
}

main #visor #resultado {
    display: flex;
    justify-content: end;
    padding-top: 15px;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
}
main #botoes {
    width: 100%;
}

main #botoes td {
    justify-content: center;
    align-items: center;
    height: 80px;
    padding: 3px;
    font-size: 2em;
    text-align: center;
    background-color: #444446;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.531);
    border-radius: 5px;
    box-sizing: border-box;
    user-select: none;
    transition: .3s;
}

main #botoes td:hover, main #botoes td.esp:hover {
    background-color: #69696a;
}

main #botoes td:active {
    box-shadow: inset 0px 0px 7px 3px rgba(151, 148, 148, 0.413);
    transform: scale(95%);
}

main #botoes td.num {
    background-color: #69696a;
}

main #botoes td.num:hover {
    background-color: #444446;
}

main #botoes td.esp  {
    background-color: #7d8387;
}